* { box-sizing: border-box; }
/* color scheme, no screen */
body { background-color:#404040;  
    font-family: helvetica, arial, sans-serif; }
#wrapper { margin-left: auto; 
     margin-right: auto; 
     width: 90%; 
     padding: 5%;
     background-color: #202020; }
header { background-color: #bf0707; 
     color: #ffacac; 
     margin-bottom: 2%; }
h1 { font-size: 200%; 
    letter-spacing: .1em; 
    word-spacing: .2em; 
    font-style: bold; }
nav { background-color: #202020; 
     color: #ffacac; 
     padding-right: 200px; 
     margin-right: 2%; 
     overflow: auto; 
     font-size: 1.5em; }
nav ul { list-style-type: none; 
     margin: 0; 
     padding: 0; }
li a { display: block; }
nav a { text-decoration: none; 
     color: #ddd; }
nav a:hover { background-color: #ffacac; 
     color: #202020; 
     padding: 10px; 
     box-shadow: 0 0 2px 2px #22222; }
h2, h3 {
     color: #ddd; 
}
footer { background-color: #0f0000; 
     color: #eee; 
     width: 100%; 
     margin-top: 2%; 
     display: block; 
     clear: both; }